a {
  color: #444444;
  text-decoration: none;
  font-size: 15px;
  margin: auto 3px;
}
.hover:hover {
  color: blue;
  padding-bottom: 20px;
  border-bottom: 5px solid blue;
}
::ng-deep.mat-menu-panel {
  background: #0b2559;
  width: 300px;

}

.switch-account-container{
  mat-icon{
    line-height: 0.63;
  }
}

.border-bottom-add-company-item-1{
  padding-bottom: 6px;
  padding-top: 6px;
  // border-bottom: 3px solid #fff;
}

.padding-add-company-item2{
  padding: 6px 0;
}

.manage-company-active{
  background-color: antiquewhite;
}

.add-company-items-spacing{
  margin: auto;
  width: 95%;
  text-align:start;
  padding-left: 10px;
}

::ng-deep .mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 0 !important;
}

.menu-label-color {
  color: #e0e7ff;
}

.margin-left {
  margin-left: 5px;
  // margin-top: 11px;
}

.toolBar-1 {
  width: 100vw;
  background-color: white;
}

.manage-user-margin-left{
  margin-left: 90px;
}

.margin-right {
  margin-right: 90px;
}

.height-container{
  min-height: calc(100% - 45px) !important;
}

.footer-container{
  padding: 10px 30px;
}

.footer{
  background-color: #fff;
  color: grey;
}


.toolBar-2 {
  width: 100vw;
  height: 50px;
  background-color: #0B2559;
}

.text-color{
   color: #fff;
}

.admin-panel-trigger{
  mat-icon{
    color: white;
    line-height: 0.67;
  }
}
.menu-active {
  color: #fff;
  font-weight: 900;
  font-family: "roboto";
  border-bottom: solid 2px #3b82f6 !important;
    mat-icon{
      color: #3b82f6;
    }
}

.add-company-active{
  color: #3b82f6;
}

.manage-company-label-width{
  width: 250px;
}

img {
  width: auto;
  height: 25px;
  vertical-align: middle;
}
.example-spacer {
  /* justify-content: space-between; */
  justify-content: space-between;
  display: flex;
}

.content-padding {
  // padding-top: 7px !important;
  // padding-bottom: 7px;
  // padding-left: 10px;
  padding: 15px !important;
  margin: auto 0;
  border-bottom: solid 2px #e0e7ff;
}

.end {
  margin-top: 26px;
}
::ng-deep mat-menu {
  padding: 0;
}

.menu-btn {
  margin-right: 25px;
}
.menu {
  padding-left: 90vw;
}

.ham-end {
  margin-left: 20%;
}

mat-mini-fab {
  color: grey;
}

.add-company-menu-width{
  width: 400px !important;
  height: 400px !important;
}

.router-active {
  border-bottom: 5px solid #3b82f6;
  padding-bottom: 4px;
  padding-top: 6.9px;
  a{
    line-height: 14px;
  }
}


mat-menu{
  height: 0;
}
mat-icon {
  vertical-align: middle;
}

.footer-center {
  text-align: end;
}


.footer-right{
  text-align: right;
}
.background-color {
  background-color: #f3f6f9;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.toolbar2-height {
  height: 50px !important;
}
.bottom-border {
  border-bottom: none;
  margin-left: 5px;

}
.bottom-border:hover {
  color: blue;
}

.alignment {
  padding: 15px !important;
  margin: auto 0;
}
mat-sidenav-container {
  background-color: #f3f6f9;
  // height: calc(100vh - 114px);
}
mat-sidenav {
  height: 100%;
  width: 150px;
  // margin-top: 10px;
  background-color: whitesmoke;
  padding-top: 10px;
  text-align: center;
}

.mat-expansion-panel-header{
  padding: 0 !important;
}

.mat-drawer-content {
  height: calc(100vh - 114px);
  position: relative;
  z-index: 1;
  // display: block;
  overflow: auto;
}

::ng-deep.mat-drawer.mat-drawer-end {
  right: 0;
  transform: translate3d(100%, 0, 0);
  margin-top: 64px !important;
  width: 200px;

}


::ng-deep .logout-button {
  background-color: #fff;
  &:hover {
    background-color: #fff !important;
  }
}

.user {
  line-height: 1px;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom: none;
}

.users {
  line-height: 1px;
  margin-right: 40px;
  padding-bottom: 20px;
  vertical-align: middle;
  height: 100%;
}
.user:hover {
  color: blue;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0px 25px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.Business-icon {
  line-height: 0.5;
  margin-right: 20px;
  color: #fff;
}

.margin-left-right{
  margin-right:0 !important;
  margin-left: 8px;
}

.add-icon{
  line-height: 0.67 !important;
  margin-right: 20px !important;
}

::ng-deep .mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 5px !important;
}

.margin-left-add-company{
  margin-left: 90px;
}

.Groups-icon {
  line-height: 0.7;
  margin-right: 20px;
  color: #fff;
}

.align-center {
  align-items: center;
}

.toolbar1-icon {
  color: #0c2559;
  line-height: 0.59;
  margin-right: 10px !important;
}

.change-password-margin-left{
  margin-left: 80px;
}

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]) {
box-shadow: 0 0 0 0 !important;
}
span {
  display: flex;
  font-weight: 100;
  font-size: medium;
}

::ng-deep.mat-expansion-panel-body{
  padding: 0 !important;
}
.manage-company-items{
  margin: 15px 23px;
  color: grey;
}

p {
  margin: 0;
  font-weight: 500;
}

::ng-deep.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
   margin-right: 0 !important;
}

.menu-item{
  font-size: 15px;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

::ng-deep.mat-expansion-panel{
  background-color: #fff !important;
}

.border-bottom {
  border-bottom: 3px solid #fff;
}

::ng-deep.mat-menu-content:not(:empty) {
  padding-top: 8px;
  padding-bottom: 8px;
  // height: calc(100vh - 64px) !important;
}

.active-sidenav-items{
  color: #3b82f6;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
  margin-right: 6px !important;
}

.example-container {
  padding: 0.5rem;
  width: 15vw;
  background-color: #0b2559;
  margin-top: 64px;

  .close-icon-container{
    padding: 5px;
    color: white;
    font-size: medium !important;
  }

  .image-welcome-container {
    margin-bottom: 1rem;
    img {
      border-radius: 100%;
      width: 35%;
      height: 8vh;
    }
    p {
      font-size: 19px !important;
      margin: auto;
      color: white;
    }
  }

  mat-expansion-panel {
    background-color: #0b2559 !important;
    ul {
      li {
        margin-left: 0.9rem;
        font-size: small !important;
        color: white;
        transition: margin-left ease-in;
        transition-duration: 0.3s;
        &:hover{
          margin-left: 1.3rem;
          transition: all ease-in;
          transition-duration: 0.3s;
        }
      }
    }
  }

  .expansion-panel {
    background: #0b2559;
    mat-icon {
      color: white;
      font-size: 18px !important;
      line-height: 1.1;
    }

    p {
      color: white;
      margin-bottom: 0 !important;
      font-size: medium !important;
    }
  }
}

// ::ng-deep.custom-header .mat-expansion-panel-header-title,
// .custom-header .mat-expansion-panel-header-description {
//   margin-right: 5px !important;
// }

// .custom-header .mat-expansion-panel-header-description {
//   justify-content: space-between;
//   align-items: center;
// }


@media (max-width: 960px){
  mat-sidenav-container{
    height: calc(100vh - 64px) !important;
  }
}
