<div class="main-div">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2>Quotation</h2>
    <mat-form-field fxFlex="28" appearance="fill">
      <mat-label>Search brand</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput #search (keyup)="onSearch(search.value)">
    </mat-form-field>
  </section>

  <section fxLayoutAlign="end" class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAddQuotation()">Add Quotation</button>
  </section>

  <!-- <table mat-table [dataSource]="filterQuotation | paginate: {
    id: 'pagingID',
    itemsPerPage: 1,
    currentPage: p,
    totalItems: totalLength }" class="mat-elevation-z8">

    <section matColumnDef="itemId" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Item Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </section>
    <section matColumnDef="city" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.city}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.city}} </td>
    </section>

    <section matColumnDef="email" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.email}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.email}} </td>
    </section>

    <section matColumnDef="companyName" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Company Name </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.company_name}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.company_name}} </td>
    </section>

    <section matColumnDef="amount" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Gross Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.gross_amount}} </td>
    </section>

    <section matColumnDef="totalAmount" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Total Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.total_amount}} </td>
    </section>

    <section matColumnDef="actions" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="actions" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-icon (click)="onEditQuotation(element.id)" matTooltip="Edit" matTooltipPosition="below">edit</mat-icon>
          <mat-icon (click)="onDeleteQuotation(element.id)" matTooltip="Delete" matTooltipPosition="below">delete
          </mat-icon>
        </div>
      </td>
    </section>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 -->
 <div *ngIf="this.filterQuotation?.length" fxLayout="column" class="table-container" fxLayoutGap="1rem">
  <mat-card fxLayout="row" class="header primary-bg">
    <section fxFlex="11" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand name"
    (click)="this.onSort('sr_no')">
    <p class="action-icon">Sr.no</p>
      <mat-icon>
        {{this.quotationSortObject['sr_no']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>

    <section fxFlex="15" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand name"
      (click)="this.onSort('city')">
      <p class="action-icon">City</p>
      <mat-icon>
        {{this.quotationSortObject['city']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>

    <section fxFlex="20" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand status"
      (click)="this.onSort('email')">
      <p class="action-icon">Email</p>
      <mat-icon>
        {{this.quotationSortObject['email']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>

    <section fxFlex="24" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand status"
      (click)="this.onSort('company_name')">
      <p class="action-icon">Company name</p>
      <mat-icon>
        {{this.quotationSortObject['company_name']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>

    <section fxFlex="15" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand status"
      (click)="this.onSort('gross_amount')">
      <p class="action-icon">Gross amount</p>
      <mat-icon>
        {{this.quotationSortObject['gross_amount']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>

    <section fxFlex="15" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand status"
      (click)="this.onSort('total_amount')">
      <p class="action-icon">Total amount</p>
      <mat-icon>
        {{this.quotationSortObject['total_amount']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>

    <p fxFlex="15" class="action-icon">Actions</p>
  </mat-card>

  <mat-card *ngFor="let quote of filterQuotation | paginate: {
    id: 'pagingID',
    itemsPerPage: 1,
    currentPage: p,
    totalItems: totalLength }" class="header align-padding">
    <p fxFlex="11">{{quote.sr_version? quote.sr_version : quote.sr_no}}</p>
    <p fxFlex="15">{{quote.city}}</p>
    <p fxFlex="20">{{quote.email}}</p>
    <p fxFlex="24">{{quote.company_name}}</p>
    <p fxFlex="15">{{quote.gross_amount}}</p>
    <p fxFlex="15">{{quote.total_amount}}</p>

    <div class="actions" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button>
        <mat-icon (click)="onEditQuotation(quote.id)" class="edit-btn" matTooltip="Edit" matTooltipPosition="below">edit
        </mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon class="delete-btn" (click)="onDeleteQuotation(quote.id)" matTooltip="Delete" matTooltipPosition="below">
          delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>

  <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
    <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
