<div class="main-div poppins">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2>Company Master</h2>
    <mat-form-field *ngIf="this.companyDetails?.length" fxFlex="28" appearance="fill">
      <mat-label>Search Company</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput #search (keyup)="onSearch(search.value)">
    </mat-form-field>
  </section>

  <div *ngIf="this.companyDetails?.length" fxLayout="column" class="table-container poppins" fxLayoutGap="1rem">
    <mat-card fxLayout="row" class="header primary-bg">
      <section fxFlex="20" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by company name"
        (click)="onSort('company_name')">
        <p class="action-icon">Company name</p>
        <mat-icon>{{this.companySortObject['company_name'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="12" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by city"
        (click)="onSort('city')">
        <p class="action-icon">City</p>
        <mat-icon>{{this.companySortObject['city'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="12" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by state"
        (click)="onSort('state.name')">
        <p class="action-icon">State</p>
        <mat-icon>{{this.companySortObject['state.name'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="12" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by country"
        (click)="onSort('country.name')">
        <p class="action-icon">Country</p>
        <mat-icon>{{this.companySortObject['country.name'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="34" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by remarks"
        (click)="onSort('company.remarks')">
        <p class="action-icon">Remarks</p>
        <mat-icon>{{this.companySortObject['company.remarks'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <p fxFlex="10" class="action-icon">Actions</p>
    </mat-card>
    <mat-card *ngFor="let company of filterData | paginate: {
      id: 'pagingID',
      itemsPerPage: 10,
      currentPage: p,
      totalItems: totalLength }" class="header align-padding poppins">
      <p fxFlex="20" class="action-icon">{{company?.company_name}}</p>
      <p fxFlex="12" class="action-icon">{{company?.address[0].city}}</p>
      <p fxFlex="12" class="action-icon">{{company?.address[0].state.name}}</p>
      <p fxFlex="12" class="action-icon">{{company?.address[0].country.name}}</p>
      <p fxFlex="34" class="action-icon remarks-text-align">{{company?.remarks}}</p>
      <div class="actions" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
        <button [disabled]="!this.isMarketing" (click)="onEditItem(company.id)" mat-icon-button>
          <mat-icon class="edit-btn material-icons-outlined"
            matTooltip="{{this.isMarketing? 'Edit' : 'You do not have adequate permission to perform this action.Please contact your administrator.'}}"
            matTooltipPosition="below">edit
          </mat-icon>
        </button>

        <button [disabled]="!this.isMarketing" (click)="onDeleteItem(company.id)" mat-icon-button>
          <mat-icon class="delete-btn material-icons-outlined"
            matTooltip="{{this.isMarketing? 'Delete' : 'You do not have adequate permission to perform this action.Please contact your administrator.'}}"
            matTooltipPosition="below">delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
      <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true"
        responsive="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="this.isDataReceived && !this.companyDetails.length" fxLayoutAlign="center center">
  <h1 class="poppins">There are no companies available, try <a class="add-brand-text action-icon"
      (click)="this.onAddCompany()">adding a company</a> </h1>
</div>
