<!-- <div class="main-div">

  <section class="quotation-header-container">
    <h2>Company</h2>
  </section>
  <table mat-table [dataSource]="companyDetails | paginate: {
    id: 'pagingID',
    itemsPerPage: 10,
    currentPage: p,
    totalItems: totalLength }" class="mat-elevation-z8">

    <section matColumnDef="companyName" fxLayout="column" fxFlex="12">
      <th mat-header-cell *matHeaderCellDef> Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
    </section>

    <section matColumnDef="city" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.address[0].city}}" matTooltipPosition="below" [matTooltipShowDelay]="showDelay.value">
        {{element.address[0].city}} </td>
    </section>

    <section matColumnDef="state" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.address[0].state.name}}" matTooltipPosition="below" [matTooltipShowDelay]="showDelay.value">
        {{element.address[0].state.name}} </td>
    </section>

    <section matColumnDef="country" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.address[0].country.name}}" matTooltipPosition="below" [matTooltipShowDelay]="showDelay.value">
        {{element.address[0].country.name}} </td>
    </section>

    <section matColumnDef="remarks" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Remarks </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.remarks}}" matTooltipPosition="below" [matTooltipShowDelay]="showDelay.value">
        {{element.remarks}} </td>
    </section>

    <section matColumnDef="actions" fxLayout="column" fxFlex="9">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="actions" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-icon (click)="onEditItem(element.id)" matTooltip="Edit" matTooltipPosition="below">edit</mat-icon>
          <mat-icon (click)="onDeleteItem(element.id)" matTooltip="Delete" matTooltipPosition="below">delete</mat-icon>
        </div>
      </td>
    </section>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
    <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div> -->

<div class="main-div poppins">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2>Company Master</h2>
    <mat-form-field fxFlex="28">
      <mat-label>Search Company</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput>
    </mat-form-field>
  </section>

  <div fxLayout="column" class="table-container poppins" fxLayoutGap="1rem">
    <mat-card fxLayout="row" class="header primary-bg">
      <p fxFlex="20" class="action-icon">Company name</p>
      <p fxFlex="12" class="action-icon">City</p>
      <p fxFlex="12" class="action-icon">State</p>
      <p fxFlex="12" class="action-icon">Country</p>
      <p fxFlex="34" class="action-icon">Remarks</p>
      <p fxFlex="10" class="action-icon">Actions</p>
    </mat-card>
    <mat-card *ngFor="let company of companyDetails | paginate: {
      id: 'pagingID',
      itemsPerPage: 10,
      currentPage: p,
      totalItems: totalLength }"  class="header align-padding poppins">
      <p fxFlex="20" class="action-icon">{{company?.company_name}}</p>
      <p fxFlex="12" class="action-icon">{{company?.address[0].city}}</p>
      <p fxFlex="12" class="action-icon">{{company?.address[0].state.name}}</p>
      <p fxFlex="12" class="action-icon">{{company?.address[0].country.name}}</p>
      <p fxFlex="34" class="action-icon remarks-text-align">{{company?.remarks}}</p>
      <div class="actions" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon (click)="onEditBrand(company.id)" class="edit-btn" matTooltip="Edit" matTooltipPosition="below">edit
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="delete-btn" (click)="onDeleteBrand(company.id)" matTooltip="Delete"
            matTooltipPosition="below">delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
      <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>
