<div class="main-container" fxLayout="column">
  <h2>
    Create Terms And Conditions
  </h2>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <div fxFlex="35">
      <div class="img" fxFlex="35">
        <img src="../../../assets/images/Add User-rafiki (2).svg" alt="" width="500px" height="300px">
      </div>
    </div>

    <div fxLayout="column" fxFlex="55">
      <form [formGroup]="termsConditionForm" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="50">
          <mat-label>
            Title
          </mat-label>
          <input matInput formControlName="title">
        </mat-form-field>


        <mat-form-field fxFlex="35">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let option of statusType" [value]="option.value">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>


      <mat-card fxLayout="column">
        <h2>
          Parameter Details
        </h2>

        <form [formGroup]="termsParameterForm">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- <mat-form-field fxFlex="15">
              <mat-label>
                Sr No.
              </mat-label>
              <input matInput formControlName="term_id">
            </mat-form-field> -->

            <mat-form-field fxFlex="35">
              <mat-label>
                Group No
              </mat-label>
              <input matInput formControlName="groupNo">
            </mat-form-field>

            <mat-form-field fxFlex="60">
              <mat-label>
                Parameter Name
              </mat-label>
              <input matInput formControlName="parameterName">
            </mat-form-field>
          </div>

          <div fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="75">
              <mat-label>
                Parameter Value
              </mat-label>
              <input matInput formControlName="parameterValue">
            </mat-form-field>

            <mat-icon fxFlex="10" class="delete-btn material-icons-outlined action-icon">add_box
            </mat-icon>
          </div>
        </form>
      </mat-card>
    </div>

  </div>
</div>


<section class="btn-submit" fxLayoutAlign="end" fxLayoutGap="0.3rem">
  <button mat-button class="btn-red" (click)="onCancel()">Cancel</button>
  <button mat-button class="add-brand-btn" (click)="onAdd()">Save</button>
</section>
