<div class="main-div" fxLayout="column">

  <!-- <div class="sub-div" fxFlex="100" fxLayoutAlign="space-between center" fxLayout="row">
    <h2>Item Master</h2>
    <button mat-button class="add-btn" (click)="onAdd()">
      <mat-icon class="action-btn-icon material-icons-outlined">post_add</mat-icon>
      Add
    </button>
  </div> -->

  <section class="quotation-header-container">
    <h2>Item</h2>
  </section>

  <section fxLayoutAlign="end" class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAddItem()">Add Item</button>
  </section>

  <table mat-table [dataSource]="itemData | paginate: {
    id: 'pagingID',
    itemsPerPage: 1,
    currentPage: p,
    totalItems: totalLength }" class="mat-elevation-z8">

    <section matColumnDef="srNo" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Sr. No </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </section>

    <section matColumnDef="itemCode" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Item Code </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.item_code}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.item_code}} </td>
    </section>

    <section matColumnDef="itemName" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Item Name </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.item_name}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.item_name}} </td>
    </section>

    <section matColumnDef="unit" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Unit </th>
      <td mat-cell *matCellDef="let element">
        {{element.item_unit}} </td>
    </section>

    <section matColumnDef="status" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.statusLabel}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.item_status == 1 ? 'Active' : 'Inactive' }} </td>
    </section>

    <section matColumnDef="actions" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="actions" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-icon (click)="onEditItem(element.id)" matTooltip="Edit" matTooltipPosition="below">edit</mat-icon>
          <mat-icon (click)="onDeleteItem(element.id)" matTooltip="Delete" matTooltipPosition="below">delete</mat-icon>
        </div>
      </td>
    </section>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="pagination" fxLayout="row" fxLayoutAlign="end none">
  <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>
