<div class="main-div poppins">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2>Item Master</h2>
    <mat-form-field *ngIf="this.itemData?.length" fxFlex="28" appearance="fill">
      <mat-label>Search Item</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput  #search (keyup)="onSearch(search.value)">
    </mat-form-field>
  </section>

  <section *ngIf="this.itemData?.length" fxLayoutAlign="end" class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAddItem()">Add Item</button>
  </section>

  <div *ngIf="this.itemData?.length" fxLayout="column" class="table-container poppins" fxLayoutGap="1rem">
    <mat-card fxLayout="row" class="header primary-bg">
      <p fxFlex="15" class="action-icon">Sr. No</p>
      <section fxFlex="15" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by item code"
        (click)="onSort('item_code')">
        <p class="action-icon">Item Code</p>
        <mat-icon>{{this.itemSortObject['item_code'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="30" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by item name"
        (click)="onSort('item_name')">
        <p class="action-icon">Item Name</p>
        <mat-icon>{{this.itemSortObject['item_name'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="15" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by unit"
        (click)="onSort('item_unit')">
        <p class="action-icon">Unit</p>
        <mat-icon>{{this.itemSortObject['item_unit'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="15" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by status"
        (click)="onSort('item_status')">
        <p class="action-icon">Status</p>
        <mat-icon>{{this.itemSortObject['item_status'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <p fxFlex="10" class="action-icon">Actions</p>
    </mat-card>

    <mat-card *ngFor="let item of filterData | paginate: {
      id: 'pagingID',
      itemsPerPage: 10,
      currentPage: p,
      totalItems: totalLength }" class="header align-padding poppins">
      <p fxFlex="15" class="action-icon">{{item?.id}}</p>
      <p fxFlex="15" class="action-icon">{{item?.item_code}}</p>
      <p fxFlex="30" class="action-icon">{{item?.item_name}}</p>
      <p fxFlex="15" class="action-icon">{{item?.item_unit}}</p>
      <p fxFlex="15" class="action-icon remarks-text-align">{{item.item_status == 1 ? 'Active' : 'Inactive' }}
      </p>

      <div class="actions" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon (click)="onEditItem(item.id)" class="edit-btn material-icons-outlined" matTooltip="Edit"
            matTooltipPosition="below">edit
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="delete-btn material-icons-outlined" (click)="onDeleteItem(item.id)" matTooltip="Delete"
            matTooltipPosition="below">delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
      <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true"
        responsive="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="this.isDataRecieved && !this.itemData?.length" fxLayoutAlign="center center">
  <h1 class="poppins">There are no items available, try <a class="add-brand-text action-icon"
      (click)="this.onAddItem()">adding an item</a> </h1>
</div>
