<!-- <div class="main-div">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Terms and Condition Table</h2>
  </div>

  <section class="add-terms-btn-container" fxLayoutAlign="end">
    <button mat-button class="add-btn" (click)="onAdd()">
      <mat-icon class="action-btn-icon material-icons-outlined">post_add</mat-icon>
      Add T & C
    </button>
  </section>
  <div class="unit-master-table">
    <table mat-table [dataSource]="termsConditionDetails | paginate: {
      id: 'pagingID',
      itemsPerPage: 1,
      currentPage: p,
      totalItems: totalLength }" class="mat-elevation-z8">

      <section matColumnDef="srNo" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Sr No. </th>
        <td mat-cell *matCellDef="let element"matTooltip="{{element.id}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.id}} </td>
      </section>

      <section matColumnDef="title" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.title}}" matTooltipPosition="below"
          [matTooltipShowDelay]="showDelay.value">
          {{element.title}} </td>
      </section>

      <section matColumnDef="status" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.status}}" matTooltipPosition="below"
          [matTooltipShowDelay]="showDelay.value">
          {{element.status == 'Locked' ? 'Deactive' : 'Active'}} </td>
      </section>

      <section matColumnDef="actions" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="actions" fxLayout="row" fxLayoutAlign="space-around center">
            <mat-icon (click)="onEditUnit(element.id)" matTooltip="Edit" matTooltipPosition="below">edit</mat-icon>
            <mat-icon (click)="onDeleteUnit(element.id)" matTooltip="Delete" matTooltipPosition="below">delete</mat-icon>
          </div>
        </td>
      </section>

      <tr mat-header-row *matHeaderRowDef="termsConditionColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: termsConditionColumns;"></tr>
    </table>
  </div>
</div>

<div class="pagination" fxLayout="row" fxLayoutAlign="end none">
  <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div> -->



<div class="main-div poppins">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2>Terms & Condition Master</h2>
    <mat-form-field *ngIf="this.termsConditionDetails.length" fxFlex="28" appearance="fill">
      <mat-label>Search Terms & Condition</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput #search (keyup)="onSearch(search.value)">
    </mat-form-field>
  </section>

  <section *ngIf="this.termsConditionDetails.length" fxLayoutAlign="end" class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAddTerms()">Add Item</button>
  </section>

  <div *ngIf="this.termsConditionDetails.length" fxLayout="column" class="table-container poppins" fxLayoutGap="1rem">
    <mat-card fxLayout="row" class="header primary-bg">
      <p fxFlex="15" class="action-icon">Sr. No</p>
      <section fxFlex="50" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by title"
      (click)="onSort('title')">
      <p class="action-icon">Title</p>
      <mat-icon>{{this.termsSortObject['title']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>

      <section fxFlex="20" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by title"
      (click)="onSort('status')">
      <p class="action-icon">Status</p>
      <mat-icon>{{this.termsSortObject['status']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </section>
      <p fxFlex="15" class="action-icon">Actions</p>
    </mat-card>

    <mat-card *ngFor="let terms of filterData | paginate: {
      id: 'pagingID',
      itemsPerPage: 10,
      currentPage: p,
      totalTerms: filterData.length }" class="header align-padding poppins">
      <p fxFlex="15" class="action-icon">{{terms?.id}}</p>
      <p fxFlex="50" class="action-icon">{{terms?.title}}</p>
      <p fxFlex="20" class="action-icon remarks-text-align">{{terms.status == 1 ? 'Active' : 'Inactive' }}
      </p>

      <div class="actions" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon (click)="onEdiTerms(terms.id)" class="edit-btn material-icons-outlined" matTooltip="Edit"
            matTooltipPosition="below">edit
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="delete-btn material-icons-outlined" (click)="onDeleteTerms(terms.id)" matTooltip="Delete"
            matTooltipPosition="below">delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
      <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true"
        responsive="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="this.isDataReceived && !this.termsConditionDetails.length" fxLayoutAlign="center center">
  <h1 class="poppins">There are no T & C available, try <a class="add-brand-text action-icon"
      (click)="this.onAddTerms()">adding a T & C </a> </h1>
</div>
