<div class="main-div poppins">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2>Brand Master</h2>
    <mat-form-field *ngIf="this.brandData?.length" fxFlex="28" appearance="fill">
      <mat-label>Search brand</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput #search (keyup)="onSearch(search.value)">
    </mat-form-field>
  </section>

  <section *ngIf="this.brandData?.length" fxLayoutAlign="end" class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAddBrand()">Add Brand</button>
  </section>

  <div *ngIf="this.brandData?.length" fxLayout="column" class="table-container" fxLayoutGap="1rem">
    <mat-card fxLayout="row" class="header primary-bg">
      <p fxFlex="15" class="action-icon">Sr.no</p>
      <section fxFlex="40" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand name"
        (click)="this.onSort('label')">
        <p class="action-icon">Brand Name</p>
        <mat-icon>
          {{this.brandSortObject['label']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="30" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by brand status"
        (click)="this.onSort('status')">
        <p class="action-icon">Status</p>
        <mat-icon>
          {{this.brandSortObject['status']?.sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>
      <p fxFlex="15" class="action-icon">Actions</p>
    </mat-card>

    <mat-card *ngFor="let brand of filterData | paginate: {
      id: 'pagingID',
      itemsPerPage: 1,
      currentPage: p,
      totalItems: totalLength }" class="header align-padding">
      <p fxFlex="15">{{brand.id}}</p>
      <p fxFlex="40">{{brand.label}}</p>
      <p fxFlex="30">{{brand.status == 1? 'Active' : 'InActive'}}</p>

      <div class="actions" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon (click)="onEditBrand(brand.id)" class="edit-btn" matTooltip="Edit" matTooltipPosition="below">edit
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="delete-btn" (click)="onDeleteBrand(brand.id)" matTooltip="Delete" matTooltipPosition="below">
            delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
      <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true"
        responsive="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="this.isDataReceived && !this.brandData?.length" fxLayoutAlign="center center">
  <h1 class="poppins">There are no brands available, try <a class="add-brand-text action-icon"
      (click)="this.onAddBrand()">adding a brand</a> </h1>
</div>
