<!-- <div class="main-div">
  <section class="quotation-header-container">
    <h2>Brand</h2>
  </section>

  <section fxLayoutAlign="end" class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAddBrand()">Add Brand</button>
  </section>

  <table mat-table [dataSource]="brandData | paginate: {
    id: 'pagingID',
    itemsPerPage: 1,
    currentPage: p,
    totalItems: totalLength }" class="mat-elevation-z8">

    <section matColumnDef="srNo" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> sr. No </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </section>

    <section matColumnDef="brandName" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Brand Name </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.label}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.label}} </td>
    </section>

    <section matColumnDef="status" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.statusLabel}}" matTooltipPosition="below"
        [matTooltipShowDelay]="showDelay.value">
        {{element.statusLabel}} </td>
    </section>

    <section matColumnDef="actions" fxLayout="column">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="actions" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-icon (click)="onEditBrand(element.id)" matTooltip="Edit" matTooltipPosition="below">edit</mat-icon>
          <mat-icon (click)="onDeleteBrand(element.id)" matTooltip="Delete" matTooltipPosition="below">delete</mat-icon>
        </div>
      </td>
    </section>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="pagination" fxLayout="row" fxLayoutAlign="end none">
  <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div> -->

<div class="main-div poppins">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2 class="poppins">Brand Master</h2>
    <mat-form-field fxFlex="28">
      <mat-label>Search brand</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput>
    </mat-form-field>
  </section>

  <section *ngIf="this.brandData?.length && this.isBrandReceived" fxLayoutAlign="end"
    class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAddBrand()">Add Brand</button>
  </section>

  <div *ngIf="this.brandData?.length && this.isBrandReceived" fxLayout="column" class="table-container"
    fxLayoutGap="1rem">
    <mat-card fxLayout="row" class="header primary-bg">
      <p fxFlex="15" class="action-icon">Sr.no</p>
      <p fxFlex="40" class="action-icon">Brand Name</p>
      <p fxFlex="30" class="action-icon">Status</p>
      <p fxFlex="15" class="action-icon">Actions</p>
    </mat-card>
    <mat-card *ngFor="let brand of brandData | paginate: {
      id: 'pagingID',
      itemsPerPage: 1,
      currentPage: p,
      totalItems: totalLength }" class="header align-padding">
      <p fxFlex="15">{{brand.id}}</p>
      <p fxFlex="40">{{brand.label}}</p>
      <p fxFlex="30">{{brand.status == 1? 'Active' : 'InActive'}}</p>
      <div class="actions" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon (click)="onEditBrand(brand.id)" class="edit-btn" matTooltip="Edit" matTooltipPosition="below">edit
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="delete-btn" (click)="onDeleteBrand(brand.id)" matTooltip="Delete" matTooltipPosition="below">
            delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
      <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true"
        responsive="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="this.isBrandReceived && !this.brandData?.length" fxLayoutAlign="center center">
  <h1 class="poppins">There are no brands available, try <a class="add-brand-text action-icon"
      (click)="this.onAddBrand()">adding a brand</a> </h1>
</div>


<!-- TODO: mat-paginator -->
<!-- TODO: sorting in brand table-->
<!-- FIXME: update permission not working -->
