<div class="main-container" fxLayout="column">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
    <div class="img" fxFlex="35">
      <img src="../../../assets/images/Add User-rafiki (2).svg" alt="" width="500px" height="300px">
    </div>

    <div fxLayout="column" fxFlex="55">
      <mat-card>
        <form [formGroup]="unitMasterForm" fxLayout="column">
          <mat-form-field>
            <mat-label>
              Unit Short Name
            </mat-label>
            <input matInput formControlName="short_label">
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              Unit Name
            </mat-label>
            <input matInput formControlName="label">
          </mat-form-field>

          <div fxLayoutAlign="end center">
            <mat-slide-toggle formControlName="status">{{this.unitMasterForm.value.status == 0 ? 'InActive' : 'Active'}}
              Status</mat-slide-toggle>
          </div>
        </form>
      </mat-card>

    </div>
  </div>

  <section class="btn-submit" fxLayoutAlign="end" fxLayoutGap="0.3rem">
    <button mat-button class="btn-red" (click)="onCancel()">Cancel</button>
    <button mat-button class="add-brand-btn" (click)="onAdd()">Save</button>
  </section>

</div>
