<div fxLayout="column" class="forgot-page">
  <header>
    <img src="../../../assets/images/Screenshot 2021-08-07 at 9.37.49 PM.png" alt="logo of shakti pharma" height="50x">
</header>
<form [formGroup]="forgotPassForm">
    <mat-card fxLayoutAlign="center center" fxLayout="column" fxFlex="70" fxFlex.lt-md="100">
        <h2>Forgot Password</h2>
        <div class="no-padding">
          <mat-form-field appearance="fill">
              <mat-label>Code</mat-label>
              <input  matInput formControlName="code">
              <mat-error
                  *ngIf="forgotPassForm.controls.code.hasError('required')">
                  Code is
                  required!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
              <mat-label>New Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error
                  *ngIf="forgotPassForm.controls.password.hasError('required')">
                  Password is
                  required!</mat-error>
              <mat-error
                  *ngIf="forgotPassForm.controls.password.hasError('pattern')">
                  Password should
                  contain at least 8 characters | a upper case letter | a special character | a number! </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput size="50px" formControlName="confirmPassword">
              <mat-error *ngIf="forgotPassForm.controls.confirmPassword.hasError('required') ">
                  Password is
                  required!</mat-error>
              <mat-error *ngIf="forgotPassForm.controls.confirmPassword.hasError('pattern')">
                  Password should
                  contain atleast 8 characters | a upper case letter | a special character | a number! </mat-error>
              <mat-error *ngIf="forgotPassForm.controls.confirmPassword.hasError('passCheck')">passwords do not match!
              </mat-error>
          </mat-form-field>


        </div>
        <div fxLayoutAlign="space-evenly center" class="button-container">
          <button mat-flat-button  class="cancel-btn" routerLink="/login">Cancel</button>
          <button mat-flat-button [disabled]="!forgotPassForm.valid" (click)="onForgotPassword()" class="confirm-btn">Confirm</button>
        </div>
    </mat-card>
</form>

</div>
