h2 {
  /* height: 100%; */
  /* min-height: 100%; */
  /* min-width: 100%; */
  width: 100%;
  background-color: grey;
  text-align: center;
  padding:7px 0;
  color: white;
  /* padding-right: 14px; */
  /* padding-left: 10px; */
}

.dialog-container{
  padding: 10px 0 0;
  height: 12rem;
}
mat-error{
  font-size: 15px !important;
}

.content-container{
  display: block !important;
  padding: 0px 0px !important;
  max-height: 400px !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  margin-left: 19px !important;
  margin-right: 8px !important;
}

.actions-container {
  padding: 8px 0 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  min-height: 52px !important;
  align-items: center !important;
  box-sizing: content-box !important;
  margin-bottom: -18px !important;
  margin-top: 15px !important;
  width: 450px !important;
}
::ng-deep.mat-dialog-container {
  display: block;
  padding: 0;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
  margin-top: 15px;
}

mat-form-field{
  width: 100%;
}

.confirm-btn{
  background-color: #54C58D;
  color: white !important;
  width: 120px;
}

.cancel-btn{
  background-color: #ef4444;
  color: white !important;
  width: 120px;
}
