<div class="dialog-container">
  <h2>Forgot Password</h2>
  <form [formGroup]="newPassForm">
    <div class="content-container">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email">
        <mat-error *ngIf="newPassForm.controls.Email.hasError('required') && newPassForm.controls.Email.touched ">Email
          is required!
        </mat-error>
        <mat-error *ngIf="newPassForm.controls.Email.hasError('pattern') && newPassForm.controls.Email.touched">Please
          enter a valid
          email!</mat-error>
      </mat-form-field>
    </div>

    <div class="actions-container" fxLayoutAlign="space-evenly center">
      <button mat-flat-button mat-dialog-close class="cancel-btn">Cancel</button>
      <button mat-flat-button [mat-dialog-close]="newPassForm.controls['Email'].value" [disabled]="newPassForm.invalid"
        class="confirm-btn">Confirm</button>
    </div>
  </form>
</div>
