.header{
  text-align: center;
  padding: 15px;
}

.form-container {
  padding: 10px;
  width: 380px;
}

mat-error{
  font-size: 15px !important;
}

.cancel-btn {
  background-color: var(--btnRed);
  color: white;
}

.submit-btn {
  background-color: var(--btnGreen);
  color: white;
}
