<h2 class="header">Change Password</h2>
<form [formGroup]="changePassForm">
  <div fxLayout="column" class="form-container" fxLayoutGap="20px">
    <mat-form-field>
      <mat-label>Current password</mat-label>
      <input matInput formControlName="current_password">
      <mat-error *ngIf="changePassForm.get('current_password').errors?.required">Current password is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="changePassForm.get('password').errors?.required">New password is required.</mat-error>
      <mat-error *ngIf="changePassForm.get('password').errors?.pattern">Password Should
        Contain at least 8 characters | an Upper case letter | a special character | a number
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm new password</mat-label>
      <input matInput formControlName="confirm_password">
      <mat-error *ngIf="changePassForm.get('confirm_password').errors?.required">Confirm password is required.</mat-error>
      <mat-error *ngIf="changePassForm.get('confirm_password').errors?.passCheck">Passwords do not match.</mat-error>
    </mat-form-field>
    <div fxLayoutAlign="space-between center">
      <button mat-flat-button mat-dialog-close class="cancel-btn">Cancel</button>
      <button *ngIf="changePassForm.valid" mat-flat-button class="submit-btn" (click)="onSubmit()">Submit</button>
      <button *ngIf="changePassForm.invalid" mat-flat-button class="submit-btn">Submit</button>
    </div>
  </div>
</form>

