<!-- <div class="main-div">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Unit Master</h2>
  </div>

  <section class="add-unit-btn-container" fxLayoutAlign="end center">
    <button mat-button class="add-btn" (click)="onAdd()">
      <mat-icon class="action-btn-icon material-icons-outlined">post_add</mat-icon>
      Add Unit
    </button>
  </section>

  <div class="unit-master-table">
    <table mat-table [dataSource]="unitDetails | paginate: {
      id: 'pagingID',
      itemsPerPage: 10,
      currentPage: p,
      totalItems: totalLength }" class="mat-elevation-z8">

      <section matColumnDef="unitShortName" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Unit Short Name </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.short_label}}" matTooltipPosition="below"
          [matTooltipShowDelay]="showDelay.value">
          {{element.short_label}} </td>
      </section>

      <section matColumnDef="unitName" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Unit Name </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.label}}" matTooltipPosition="below"
          [matTooltipShowDelay]="showDelay.value">
          {{element.label}} </td>
      </section>

      <section matColumnDef="status" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.status}}" matTooltipPosition="below"
          [matTooltipShowDelay]="showDelay.value">
          {{element.status}} </td>
      </section>

      <section matColumnDef="actions" fxLayout="column">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="actions" fxLayout="row" fxLayoutAlign="space-around center">
            <mat-icon (click)="onEditUnit(element.id)" matTooltip="Edit" matTooltipPosition="below">edit</mat-icon>
            <mat-icon (click)="onDeleteUnit(element.id)" matTooltip="Delete" matTooltipPosition="below">delete
            </mat-icon>
          </div>
        </td>
      </section>

      <tr mat-header-row *matHeaderRowDef="unitDetailsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: unitDetailsColumns;"></tr>
    </table>
  </div>
</div>

<div class="pagination" fxLayout="row" fxLayoutAlign="end none">
  <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div> -->


<div class="main-div poppins">
  <section class="quotation-header-container" fxLayoutAlign="space-between center">
    <h2>Unit Master</h2>
    <mat-form-field *ngIf="this.unitDetails.length" fxFlex="28" appearance="fill">
      <mat-label>Search Unit</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput #search (keyup)="onSearch(search.value)">
    </mat-form-field>
  </section>

  <section *ngIf="this.unitDetails?.length" fxLayoutAlign="end" class="add-quotation-btn-container">
    <button mat-button class="add-quotation-btn" (click)="onAdd()">Add Item</button>
  </section>

  <div *ngIf="this.unitDetails?.length" fxLayout="column" class="table-container poppins" fxLayoutGap="1rem">
    <mat-card fxLayout="row" class="header primary-bg">
      <section fxFlex="30" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by unit short name"
        (click)="onSort('short_label')">
        <p class="action-icon">Unit Short Name</p>
        <mat-icon>{{this.unitSortObject['short_label'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </section>

      <section fxFlex="40" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by unit name"
        (click)="onSort('label')">
        <p class="action-icon">Unit Name</p>
        <mat-icon>{{this.unitSortObject['label'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </section>

      <section fxFlex="15" fxLayout="row" fxLayoutAlign="center center" matTooltip="Sort by status"
        (click)="onSort('status')">
        <p class="action-icon">Status</p>
        <mat-icon>{{this.unitSortObject['status'].sortState? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </section>

      <p fxFlex="15" class="action-icon">Actions</p>
    </mat-card>

    <mat-card *ngFor="let item of filterData | paginate: {
      id: 'pagingID',
      itemsPerPage: 10,
      currentPage: p,
      totalItems: totalLength }" class="header align-padding poppins">
      <p fxFlex="30" class="action-icon">{{item?.short_label}}</p>
      <p fxFlex="40" class="action-icon">{{item?.label}}</p>
      <p fxFlex="15" class="action-icon remarks-text-align">{{item.status == 1 ? 'Active' : 'Inactive' }}
      </p>

      <div class="actions" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon (click)="onEditUnit(item.id)" class="edit-btn material-icons-outlined" matTooltip="Edit"
            matTooltipPosition="below">edit
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="delete-btn material-icons-outlined" (click)="onDeleteUnit(item.id)" matTooltip="Delete"
            matTooltipPosition="below">delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="pagination" fxLayout="row" fxLayoutAlign="end none">
      <pagination-controls id="pagingID" (pageChange)="p = $event" directionLinks="true" autoHide="true"
        responsive="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="this.isDataReceived && !this.unitDetails?.length" fxLayoutAlign="center center">
  <h1 class="poppins">There are no units available, try <a class="add-brand-text action-icon"
      (click)="this.onAdd()">adding a unit</a> </h1>
</div>
