/* You can add global styles to this file, and also import other style files */
:root{
  --btnGreen : #12b981;
  --btnRed : #ef4444;
  --btnPrimary : #4454b6;
  --bg-primary: #1B1546;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.action-icon{
    cursor: pointer;
    vertical-align: middle;
}

*{
  font-size: 22px !important;
  mat-icon{
    font-size: 150% !important;
  }
}

.container{
    padding:30px 50px;
    padding-bottom: 0 !important;
}

.container-user{
  padding:30px;
}

.poppins{
  font-family: 'poppins', sans-serif;
  font-size: 22px !important;
}
