<!-- <mat-drawer mode="side" opened class="example-container poppins" fxLayout="column">
  <div class="image-welcome-container" fxLayout="row" fxLayoutGap="0.3rem">
    <img src="../../assets/images/profile-logo.png" alt="shakti Pharma logo">
    <p>Welcome, Shakti</p>
  </div>

  <mat-accordion fxLayout="column" fxLayoutGap="0.5rem" multi="true">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="expansion-panel">
        <mat-panel-title>
          <mat-icon>launch</mat-icon>
          <p>Master</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul fxLayout="column">
        <li class="action-icon" (click)="onBrandMaster()">Brand Master</li>
        <li class="action-icon" (click)="onCompanyMaster()"> Company Master</li>
        <li class="action-icon" (click)="onItemMaster()"> Item Master</li>
        <li class="action-icon" (click)="onTandCMaster()"> Terms & Condition Master</li>
        <li class="action-icon" (click)="onUnitMaster()"> Unit Master</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="expansion-panel">
        <mat-panel-title>
          <mat-icon>desktop_windows</mat-icon>
          <p>Marketing</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul fxLayout="column">
        <li (click)="onDomesticQuotation()" class="action-icon">Domestic Quotation</li>
        <li (click)="onInternationalQuotation()" class="action-icon">International Quotation</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</mat-drawer> -->
