<mat-drawer #adminPanel mode="push" opened class="example-container poppins" fxLayout="column">
  <section fxLayoutAlign="end" class="close-icon-container">
    <mat-icon (click)="adminPanel.opened='false'" class="material-icons-outlined action-icon">close</mat-icon>
  </section>
  <div class="image-welcome-container" fxLayout="row" fxLayoutGap="0.3rem">
    <img src="../../assets/images/Add User-rafiki (2).svg" alt="shakti pharma logo">
    <p>Welcome, {{username}}</p>
  </div>

  <mat-accordion fxLayout="column" fxLayoutGap="1rem">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="expansion-panel poppins">
        <mat-panel-title>
          <mat-icon>launch</mat-icon>
          <p>Master</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul fxLayout="column" fxLayoutGap="0.4rem">
        <li class="action-icon poppins" (click)="onBrandMaster()">Brand master</li>
        <li class="action-icon poppins" (click)="onCompanyMaster()"> Company master</li>
        <li class="action-icon poppins" (click)="onItemMaster()"> Item master</li>
        <li class="action-icon poppins" (click)="onTandCMaster()"> Terms and Condition master</li>
        <li class="action-icon poppins" (click)="onUnitMaster()"> Unit master</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header class="expansion-panel poppins">
        <mat-panel-title>
          <mat-icon>desktop_windows</mat-icon>
          <p>Marketing</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul fxLayout="column" fxLayoutGap="0.4rem">
        <li (click)="onDomesticQuotation()" class="action-icon poppins">Domestic Quotation</li>
        <li (click)="onInternationalQuotation()" class="action-icon poppins">International Quotation</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</mat-drawer>
